html {
    box-sizing: border-box;
    font-size: 16px;
  }



  
  *, *:before, *:after {
    box-sizing: inherit;
    

   
    

  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family:"ApercuPro-Light",sans-serif !important ;
    
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  .navbar{
   
    font-size: 12px;
  }

 

  .user-cart{
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .carousel-item{
    position: relative;
  } 

 
  .carousel-text>h5{
    font-size: 2.5rem;
    font-family: "GTSuperDisplay-Regular" !important;
  }

  .carousel-text>p{
    font-size: 16px;
    font-family: "GTSuperDisplay-Regular" !important;
  }

  .carousel-text{
  

    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    text-align: center;
   

  }

  .read-more{
    font-size: 13px;
  
    letter-spacing: 1px;
    font-weight:bold;
    text-align: center;
    border-radius: 2px;
    background: #98a88d;
    background: #000000;
    padding: 15px 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: none;
  }
  .read-more:hover{
    color: #face93;
  }

  .products{
    margin: 22px;
  }
  .products>h5{
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }

  .products>h2{
    font-size: 32px;
 text-align: center;
 font-family: GTSuperDisplay-Regular!important;
  }

  .carousel-cell {
    
    
    margin-right: 2px;
   padding: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
    position: relative;
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
   
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  

  .carousel-cell>h6{
    font-family: ApercuPro-Bold,Source Sans Pro,Helvetica,sans-serif;
    letter-spacing: 3px;
    position: absolute;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
  
    bottom: 22px;
  }


  .flickity-page-dots {
    display: none;
  }

  .show-more-btn{
   
        font-size: 13px;
      
        font-weight:bold;
        text-align: center;
        border-radius: 2px;
        background: #face93;
        
        padding: 15px 35px;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        border: none;
        width: 150px;
    
  }
  .show-more-btn:hover{
    background: #000000;
    color: white;
  }
  

  .electrolytes-section{
    
    margin: 22px;


  }

  .product-details{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .product-details>h6{
    font-family: ApercuPro-Bold,Source Sans Pro,Helvetica,sans-serif;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 12px;
  }

  .product-details>h2{
    font-family: GTSuperDisplay-Regular!important;
  }
  .product-details>p{
    font-size: 15px!important;
    opacity: 0.5;
  }


  .product-image>img{
    max-height: 730px;
   
  }


  



  .whey-section{
    
    margin: 22px;
  }
  

  .plant-portein-section{
    margin: 22px;
  }

  .product-details-plant{
    background-color: #f2efec;
    padding: 15% 15%;
    justify-content: center;
  }

  .product-image{
 display: flex;
 justify-content: center;
   margin: 0 auto;
  }

  .product-image>img{
    width: 70%;
    
  }
 
  .immunity-Boost-section{
    margin: 22px;
  }

  .expert-team-section{
    background-color:#f9f6ef;
    margin: 22px;
  }

  .summary{
    margin: 22px;
  }

  .nack-link{
  text-decoration: none;
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  letter-spacing: 1px;
  }

  .nack-link:hover{
    color: #face93;
  }

  footer{
   
    background-color: #000000;
    padding: 10px;
  }

  .logos{
    width: 38%;
    display: flex;
    padding: 20px;

    align-items: center;
    justify-content: space-around;
  }

  .logo-brand>img{
    filter: invert(100%);
    cursor: pointer;
  }


  .social-platform-logos>img{
    width: 20px;
    height: 19px;
    cursor: pointer;
  }

  .social-platform-logos{
    display: flex;
    gap: 20px;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .footer-links>li{
    text-decoration: underline;
    list-style: none;
    font-size: 1.4rem;
    font-family: "ApercuPro-Light" !important;
    color: white;
    cursor: pointer;
    
  }

  .footer-links{
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    align-items: center;
    text-align: center;
    
    gap: 30px;
    padding: 20px;
  }
  .contact-form{
    color: white;
    width: 32%;
    
  }

  .contact-form>h5{
    font-family: 'GTSuperDisplay-Regular';
    font-size: 1.5rem;
    
   
  }

  #email-field{
    border: 1px solid #fff;
    color: #fff;
    font-family: ApercuPro-Light,Source Sans Pro,Helvetica,sans-serif;
    background: transparent;
    padding: 15px;
    box-shadow: none;
    width: 100%;
    margin-bottom: 7px;
  }

  .join-now-button{
    background-color: #face93;
    border: 1px solid #fff;
    height: 50px;
    color: #000;
    font-family: ApercuPro-Bold,Source Sans Pro,Helvetica,sans-serif;
    text-align: center;
    width: 100%;
  }

  .copyright>h5{
    text-align: center;
    font-family: 'ApercuPro-Light';
    color: #fff;
    opacity: 0.6;
  }
  .copyright{
    padding: 48px;
  }


  @media screen and (max-width: 768px) { /* Adjust the max-width to your desired breakpoint */
    .product-details{
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .productcontent-wrapper{
        display: flex;

        flex-direction: column-reverse;
    }

    .footer{
      flex-direction: column;
     align-items: center;
    }
    .logos{
      flex-direction: column;
      gap: 10px;
    }

    .footer-links{
      gap: 10px;
      width: 100%;
      justify-content: center;
     
    }
    .contact-form{
      width: 100%;
      text-align: center;
    }
    .carousel-item{
      position: relative;
    }

    .carousel-text>h5{
      
      font-size: 1.5rem;
      
     
    }
  
    .carousel-text>p{
      font-size: 15px;
      
    }

    .carousel-item>img{
      height: 500px;
      object-fit: cover;
      object-position: center;
    }

    /* .carousel-text{
      position: absolute !important;
      top: 35px;
    } */

    
  }